{% extends 'layout/varincenti.html' %}

{% block content_2 %}

<div class="container-init">
	<div class="large-4 large-offset-4 columns">
		<div class="row">
			{% for message in messages %}
				<div class="alert-box {{ message.tags }}">{{ message }}</div>
			{% endfor %}
		</div>
		<div class="box dark txt-center">
			<h4>Ingresar</h4>
		</div>
		<div class="card-login">
			<form action="{% url 'login' %}" class="form-access" method="post">
				{% csrf_token %}
				<div class="row">
				{% for forms in form %}
					<div class="small-12">
						<label class="text-right text-red-dark">
							{{ forms.errors.as_text }}
						</label>
						<div class="row text-center">
							<div class="medium-12 columns">
								{{ forms }}
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="text-center">
					<div class="row">
						<input type="submit" value="Ingresar" id="access" class="button success radius" />
					</div>
				</div>
				<br>
				<div class="row text-center">
					<div class="large-6 columns">
						<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
							<div class="social fb">
								<i class="fi-social-facebook"></i> Ingresar con Facebook
							</div>
						</a>
					</div>
					<div class="large-6 columns">
						<a href="#">
							<div class="social tw">
								<i class="fi-social-twitter"></i> Ingresar con Twitter
							</div>
						</a>
					</div>
				</div>
			</form>
		</div>
		<div class="box dark txt-center">
			<p>¿No tienes cuenta? <a href="{% url 'register' %}">Registrate</a></p>
		</div>
		<div class="login-footer text-center">
			<p>&copy; 2015 Derechos Reservados. <a href="#">Varincenti</a> &reg;</p>
		</div>
	</div>
</div>

{% endblock content_2 %}