{% extends 'layout/varincenti.html' %}

{% load staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
	<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock content_head %}

{% block content_2 %}

<div class="container-init">
	<div class="large-8 large-offset-2 columns">
		<div class="row">
			{% for message in messages %}
				<div class="alert-box {{ message.tags }}">{{ message }}</div>
			{% endfor %}
		</div>
		<div class="box green-light">
			<h3>ExtremeEntretairment <small>Varincenti</small></h3>
		</div>
		<div class="card-login">
			<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{% for forms in form %}
					<div class="small-12 medium-6 columns">
						<label class="text-right text-red-dark">
							{{ forms.errors.as_text }}
						</label>
						<div class="row">
							<div class="medium-12 columns">
								<label>
									{{ forms.label }}
								</label>
							</div>
							<div class="medium-12 columns">
								{{ forms }}
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="text-center">
					<input type="submit" value="Registrarme" class="button success radius" />
					<a href="{% url 'home_extreme' %}" class="button default radius">Volver</a>
				</div>
			</form>
			<div class="row text-center">
				<p>Ya tienes una cuenta? <a href="{% url 'login' %}">Ingresa</a></p>
			</div>
		</div>
		<div class="login-footer text-center">
			<p>&copy; 2015 Derechos Reservados. <a href="{% url 'home' %}">Varincenti</a> &reg;</p>
		</div>
	</div>
</div>

{% endblock content_2 %}

{% block content_script %}
	$('#id_birthdate').datepicker({'format': 'yyyy-mm-dd', 'autoclose': true});
	$('#id_birthdate').datepicker('setDate', new Date());
{% endblock content_script %}