{% extends 'layout/varincenti.html' %}

{% load staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/jquery-te-1.4.0.css' %}">
	<script src="{% static 'js/jquery-te-1.4.0.min.js' %}"></script>
{% endblock content_head %}

{% block content_nav %}
	{% include 'elements/nav_extreme.html' %}
{% endblock content_nav %}

{% block content %}
	<div class="head-title index">
		<div class="row text-center">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc finibus vitae urna sed pretium.</p>
		</div>
	</div>
	<div class="back-white">
		<div class="row">
			<h3>Lorem ipsum dolor sit amet</h3>
			<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
		</div>
	</div>
	<div class="row" id="product_list">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3" id="content-list-product">
			{% if user.is_superuser %}
				<a href="#" class="button fixed-plus">
					<span class="fi-plus"></span>
				</a>
			{% endif %}
			{% for product in products %}
				<li>
					<div class="profile-card text-center">
						{% if user.is_superuser %}
							<div class="text-center">
								<div class="{{ product.state.class_tag }}">
									<p>
										{{ product.state.name }}
										<span class="fi-widget" style="float: right; padding-right: 10px;"></span>
									</p>
								</div>
							</div>
						{% endif %}
						<img src="{% static product.photo %}" class="image-product">
						<div class="profile-info">
							<h4 class="subheader">{{ product.name }}</h4>
							<p>{{ product.description }}</p>
							<a href="{% url 'make_reservation' product.id %}" class="button success radius">Reservar Campo</a>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
		{% for message in messages %}
			<div class="alert-box {{ message.tags }}">{{ message }}</div>
		{% endfor %}
	</div>
	<div id="content-new-extreme"></div>
{% endblock content %}

{% block content_script %}
	$('.fixed-plus').click(function(e){
		e.preventDefault();
		show_content();
	});
	function show_content(){
		$.get("{% url 'new_extreme' %}", function(data) {
			$('#content-new-extreme').addClass('back-white');
			$('#content-new-extreme').html(data);
		});
	}
{% endblock content_script %}

{% block content_footer %}
	{% include 'elements/footer_extreme.html' %}
{% endblock content_footer %}