{% extends 'layout/varincenti.html' %}

{% load staticfiles %}

{% block content_nav %}
	{% include 'elements/nav_extreme.html' %}
{% endblock content_nav %}

{% block content %}
	<div class="head-title index">
		<div class="row text-center">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc finibus vitae urna sed pretium.</p>
		</div>
	</div>
	<div class="back-white">
		<div class="row">
			<div class="small-12 large-4 columns">
				<div class="text-center">
					<img src="{% static product.photo %}" class="img-square" style="width: 200px; height: 200px; margin-bottom: 10px;">
					<p>{{ product.description }}</p>
				</div>
			</div>
			<div class="small-12 large-8 columns">
				<h3>Haz una reserva en {{ product.name }}</h3>
				<div class="row">
					{% for message in messages %}
						<div class="alert-box {{ message.tags }}">{{ message }}</div>
					{% endfor %}
				</div>
				<form action="{% url 'make_reservation' product.id %}" method="post">
					{% csrf_token %}
					{% for forms in form %}
						<label>{{ forms.label }}</label>
						{{ forms }}
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_footer %}
	{% include 'elements/footer_extreme.html' %}
{% endblock content_footer %}