{% extends 'layout/varincenti.html' %}

{% load staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
	<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
	<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
	<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock content_head %}

{% block content_nav %}
	{% include 'elements/nav_extreme.html' %}
{% endblock content_nav %}

{% block content %}
	<div class="head-title index">
		<div class="row text-center">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc finibus vitae urna sed pretium.</p>
		</div>
	</div>
	<div class="back-white">
		<div class="row">
			{% for message in messages %}
				<div class="text-left alert-box {{ message.tags }}">{{ message }}</div>
			{% endfor %}
			<div class="small-12 large-4 columns">
				<div class="text-center">
					<img src="{% static product.photo %}" class="img-square" style="width: 200px; height: 200px; margin-bottom: 10px;">
					<p>{{ product.description }}</p>
				</div>
			</div>
			<div class="small-12 large-8 columns">
				<h3>Hola {{ request.user.first_name }}, haz una reserva en {{ product.name }}</h3>
				<form action="{% url 'make_reservation' product.id %}" method="post">
					{% csrf_token %}
					{% for forms in form %}
						<label class="text-right text-red-dark">
							{{ forms.errors.as_text }}
						</label>
						<label>{{ forms.label }}</label>
						{{ forms }}
					{% endfor %}
					<div class="text-center">
						<input type="submit" value="Continuar" class="button success radius" />
					</div>
				</form>
			</div>
			<div class="small-12 large-6 columns">
				<div class="map-camp text-center"></div>
			</div>
			<div class="small-12 large-6 columns">
				<div class="photo-camp text-center"></div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block content_footer %}
	{% include 'elements/footer_extreme.html' %}
{% endblock content_footer %}

{% block content_script %}
	$('#id_hour_reservation').val('09:00');
	$('#id_hour_reservation').timepicker({
		minTime: '09:00', 
		maxTime: '17:00',
		timeFormat: 'H:i',
		default: '09:00',
		step: '60'
	});
	$('#id_date_reservation').datepicker({'format': 'yyyy-mm-dd', 'autoclose': true});
	$('#id_date_reservation').datepicker('setDate', new Date());
	$('#id_camp_product').change(function(){
		if($('#id_camp_product').val() != ''){
			$.ajax({
				url: '{% url 'search_camp' %}',
				type: 'POST',
				data: {id: $(this).val()},
				success: function(json){
					$('.map-camp').html('<iframe src="'+json.ubication+'" width="500" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>');
					$('.photo-camp').html('<img src="/static/'+json.photo+'" alt="'+json.name+'" width="400px" height="auto">');
					console.log(json.photo);
				},
				error: function(json){
					$('.map-camp').html('<h3>'+json.error+'</h3>')
				}
			});
		}else{
			alert('Seleccione un valor');
		}
	});
{% endblock content_script %}