{% extends 'layout/varincenti.html' %}

{% block content_nav %}
	{% include 'elements/nav_varincenti.html' %}
{% endblock content_nav %}

{% block content %}
	<div class="head-title index text-center">
		<div class="row">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc finibus vitae urna sed pretium.</p>
		</div>
		<div class="row white">
			<div class="blue-light box small-12 medium-2 columns">
				{{ title }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="back-white">
					<h3>Foundation Top Bar/Off-Canvass Hybrid Navigation</h3>
					<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
					<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
					<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
					<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
					<p>Etiam dictum lectus est, nec hendrerit eros rhoncus eu. Proin condimentum nibh ante, a sagittis velit luctus a. Quisque quis risus et ante adipiscing porttitor. Etiam mi quam, eleifend nec venenatis ut, accumsan eget risus. Etiam lobortis, massa quis sagittis varius, neque nulla rutrum risus, vel imperdiet sem tortor eget dolor. Phasellus suscipit mi ac varius posuere. Mauris gravida id dui sit amet ullamcorper. Nullam gravida nibh et mi iaculis, a varius dui varius.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="back-green">
		<div class="row">
			<h2>Opiniones de nuestros clientes</h2>
			<ul class="example-orbit-content text-center" data-orbit data-options="animation_speed:1000;">
				<li data-orbit-slide="headline-1">
					<div>
						<h3>Donec malesuada</h3>
						<p>lectus tincidunt tincidunt sagittis, ante nisi mollis mauris, at aliquam enim lacus sit amet augue. Ut sagittis commodo blandit. Sed non arcu elementum, varius est sit amet, varius purus.</p>
					</div>
				</li>
				<li data-orbit-slide="headline-2">
					<div>
						<h3>Donec malesuada</h3>
						<p>Duis scelerisque elit eget libero auctor sagittis. Fusce vitae felis quis metus tristique ullamcorper. In hac habitasse platea dictumst.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}

{% block content_footer %}
	{% include 'elements/footer_varincenti.html' %}
{% endblock content_footer %}