<div class="row">
	<div class="hybrid-bar blue">
		<nav class="tab-bar blue">
			<div class="title-area">
				<div class="name">
					<h1><a href="{% url 'home' %}"><strong>Varincenti</strong></a></h1>
				</div>
			</div>
			<section class="right-small show-for-small">
				<a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
			</section>
		</nav>
		<aside class="right-off-canvas-menu blue">
			<ul class="off-canvas-list">
				<li class="show-for-small">
					<label>Menú Principal</label>
				</li>
				<li><a href="{% url 'home' %}">Inicio</a></li>
				<li><a href="{% url 'mark' %}">Marcas</a></li>
				<li><a href="{% url 'contact' %}">Contáctenos</a></li>
			</ul>
		</aside>
	</div>
</div>